<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>527407469431-a2ccjc2cl0aiuc5cevlfs50f3fgosrcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527407469431-a2ccjc2cl0aiuc5cevlfs50f3fgosrcj</string>
	<key>API_KEY</key>
	<string>AIzaSyDyCpPa_WqZ5a5hLZ-F42zuqEcDxXuyEA0</string>
	<key>GCM_SENDER_ID</key>
	<string>527407469431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nortisgroup.solarlaaBox</string>
	<key>PROJECT_ID</key>
	<string>solarlaa-box-1533655051222</string>
	<key>STORAGE_BUCKET</key>
	<string>solarlaa-box-1533655051222.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527407469431:ios:0e5168e7567a7735</string>
	<key>DATABASE_URL</key>
	<string>https://solarlaa-box-1533655051222.firebaseio.com</string>
</dict>
</plist>